.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
models/*.onnx
runtime/
build/
cpp_pi_ncnn/build/
cpp_pi_ncnn/yoloV8.cpp
cpp_pi_ncnn/yoloV8.h
cpp_pi_ncnn/yolov8n.bin
cpp_pi_ncnn/yolov8n.param
cpp_pi_ncnn/LICENSE.qengineering
*.jpg
*.jpeg
*.png
*.csv
